<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/1c9ad4b785.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <div class="text-center pt-4"><input placeholder=" Search..."></div>
    <h1 id="current_location" class="text-center pt-4 pb-5 text-4xl"><i class="fa-solid fa-location-dot"></i>Gandhi Nagar</h1>
    <div class="flexbox text-center">
        <h1 id="current_temp" class="text-5xl">102</h1>
        <h1 id="current_weather_status" class="pb-4 text-3xl text-center pt-2"></h>
    </div>
    
        <div class="grid grid-cols-3 gap-2  place-items-center ">
            <div class="h-min w-max">
                <p1 id="feels_like">Feels like:</p1>
            </div>
            <div id="wind_speed" class="h-min w-max">
                <p1>Wind:</p1>
            </div>
            <div id="visibility" class="h-min w-max">
                <p1>Visibility:</p1>
            </div>
            <div id="Pressure" class="h-min w-max" >
                <p1>Pressure: </p1>
            </div>
            <div id="humidity" class="h-min w-max">
                <p1>Humidity:</p1>
            </div>
            <div id="dew_point"  class="h-min w-max">
                <p1>Dew Point:</p1>
            </div>
            
        </div>
    

       
        

    
    
    
    <h1 class=" pb-4 pl-3 text-4xl">Daily</h1>
    <hr>

    <div class="flex gap-8 text-center pl-9">
       
        <div class="rounded-lg  h-max w-max pb-10 pr-5 pl-5 pt-3 hover:backdrop-blur-xl  transition duration-500 hover:scale-125">
            <p1 id="day_1" class="text-2xl pb-2">Day 1</p1> 
            <img id="day_1_icon" src="" alt="icon" />
            
            <p1 id="day_1_high" class="text-4xl pb-2 inline-block pr-3"></p1>
            <br>
            <p1 id="day_1_low" class="text-2xl pb-2 inline-block"></p1>
            <p id="day_1_status" class="text-center text-2xl"></p>
        </div>
        <div class="rounded-lg  h-max w-max pb-10 pr-5 pl-5 pt-3 hover:backdrop-blur-xl  transition duration-500 hover:scale-125">
            <p1 id="day_2" class="text-2xl pb-2">Day 2</p1> 
            <img id="day_2_icon" src="" alt="icon" />
            
            <p1 id="day_2_high" class="text-4xl pb-2 inline-block pr-3"></p1>
            <br>
            <p1 id="day_2_low" class="text-2xl pb-2 inline-block"></p1>
            <p id="day_2_status" class="text-2xl"></p>
        </div>
        <div class="rounded-lg  h-max w-max pb-10 pr-5 pl-5 pt-3 hover:backdrop-blur-xl  transition duration-500 hover:scale-125">
            <p1 id="day_3" class="text-2xl pb-2">Day 3</p1> 
            <img id="day_3_icon" src="" alt="icon" />
            
            <p1 id="day_3_high" class="text-4xl pb-2 inline-block pr-3"></p1>
            <br>
            <p1 id="day_3_low" class="text-2xl pb-2 inline-block"></p1>
            <p id="day_3_status" class="text-2xl"></p>
        </div>
        <div class="rounded-lg  h-max w-max pb-10 pr-5 pl-5 pt-3 hover:backdrop-blur-xl  transition duration-500 hover:scale-125">
            <p1 id="day_4" class="text-2xl pb-2">Day 4</p1> 
            <img id="day_4_icon" src="" alt="icon" />
            
            <p1 id="day_4_high" class="text-4xl pb-2 inline-block pr-3"></p1>
            <br>
            <p1 id="day_4_low" class="text-2xl pb-2 inline-block"></p1>
            <p id="day_4_status" class=" text-2xl"></p>
        </div>
        <div class="rounded-lg  h-max w-max pb-10 pr-5 pl-5 pt-3 hover:backdrop-blur-xl  transition duration-500 hover:scale-125">
            <p1 id="day_5" class="text-2xl pb-2">Day 5</p1> 
            <img id="day_5_icon" src="" alt="icon" />
           
            <p1 id="day_5_high" class="text-4xl pb-2 inline-block pr-3"></p1>
            <br>
            <p1 id="day_5_low" class="text-2xl pb-2 inline-block"></p1>
            <p id="day_5_status" class="text-2xl"></p>
        </div>
        <div class="rounded-lg  h-max w-max pb-10 pr-5 pl-5 pt-3 transform hover:backdrop-blur-xl  transition duration-500 hover:scale-125">
            <p1 id="day_6" class="text-2xl pb-2">Day 6</p1> 
            <img id="day_6_icon" src="" alt="icon" />
           
            <p1 id="day_6_high" class="text-4xl pb-2 inline-block pr-3"></p1>
            <br>
            <p1 id="day_6_low" class="text-2xl pb-2 inline-block"></p1>
            <p id="day_6_status" class="text-2xl"></p>
        </div>
        <div class="rounded-lg  h-max w-max pb-10 pr-5 pl-5 pt-3 transform hover:backdrop-blur-xl  transition duration-500 hover:scale-125">
            <p1 id="day_7" class="text-2xl pb-2">Day 6</p1> 
            <img id="day_7_icon" src="" alt="icon" />
           
            <p1 id="day_7_high" class="text-4xl pb-2 inline-block pr-3"></p1>
            <br>
            <p1 id="day_7_low" class="text-2xl pb-2 inline-block"></p1>
            <p id="day_7_status" class="text-2xl"></p>
        </div>
        
    </div>
   
    

  

    
        


    <script src="location.js"></script>
        
   
     

    
    
</body>
</html>